<div class="admin-products-container">
    <h2>Manage Products</h2>

    <button mat-button color="primary" [routerLink]="['/admin/products/add']">Add Product</button>

  
    <div *ngIf="loading">Loading products...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
    <table mat-table [dataSource]="products" class="mat-elevation-z8" *ngIf="products.length > 0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Product ID </th>
        <td mat-cell *matCellDef="let product"> {{ product.productId }} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> ${{ product.retailPrice }} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product">
          <button mat-button color="primary" (click)="viewProduct(product.productId)">View</button>
          <button mat-button color="accent" (click)="editProduct(product.productId)">Edit</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'price', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'price', 'actions'];"></tr>
    </table>
  </div>
  